In [1]:
import sqlite3

In [2]:
db_con = sqlite3.connect('sql.db')

In [3]:
cursor = db_con.cursor()

In [4]:
q = 'select sqlite_version();'
cursor.execute(q)

In [5]:
result = cursor.fetchall()

In [7]:
print('SQLite version is {}'.format(result[0][0]))

SQLite version is 3.36.0

In [8]:
db_con.close()

In [9]:
from sqlite3 import Error

In [16]:
try: 
    db_con = sqlite3.connect('sql.db')
    cursor = db_con.cursor()
    print('DB initialized!')
    
    q = 'select sqlite_version();'
    cursor.execute(q)
    
    result = cursor.fetchall()
    print('SQLite version is {}'.format(result[0][0]))
    
    cursor.close()
except Error as err:
    print(err)
    
finally:
    if db_con:
        db_con.close()
        print('DB connection is closed!')

DB initialized!
SQLite version is 3.36.0
DB connection is closed!

# Datatypes

+ NULL: None

+ INTEGER: int

+ REAL: float

+ TEXT: str

+ BLOB: bytes

In [25]:
db_con = sqlite3.connect('example.db')
cur = db_con.cursor()

In [26]:
cur.execute('''CREATE TABLE stocks (date TEXT, trans TEXT, symbol TEXT, price REAL, count INTEGER)''')

In [27]:
cur.execute("INSERT INTO stocks VALUES ('2020-02-04', 'Buy', 'Rhat', 43.22, 12)")

In [28]:
cur.execute("INSERT INTO stocks VALUES ('2020-01-01', 'Sell', 'Sharp', 5.11, 19)")
cur.execute("INSERT INTO stocks VALUES ('2020-02-01', 'Buy', 'H', 44.44, 1)")
cur.execute("INSERT INTO stocks VALUES ('2020-03-02', 'Sell', 'Sharp', 78.57, 10)")
cur.execute("INSERT INTO stocks VALUES ('2020-02-02', 'Buy', 'H', 65.21, 21)")
cur.execute("INSERT INTO stocks VALUES ('2020-03-03', 'Buy', 'Sharp', 33.22, 32)")
cur.execute("INSERT INTO stocks VALUES ('2020-01-09', 'Buy', 'Rhat', 79.22, 3)")
cur.execute("INSERT INTO stocks VALUES ('2020-02-14', 'Sell', 'Rhat', 19.19, 11)")

In [29]:
db_con.commit()

In [30]:
db_con.close()

In [31]:
db = sqlite3.connect('example.db')
cur = db.cursor()

In [32]:
cur.execute('SELECT * FROM stocks')

In [36]:
cur.execute('SELECT * FROM stocks')
result = cur.fetchall()

In [37]:
result

[('2020-02-04', 'Buy', 'Rhat', 43.22, 12),
 ('2020-01-01', 'Sell', 'Sharp', 5.11, 19),
 ('2020-02-01', 'Buy', 'H', 44.44, 1),
 ('2020-03-02', 'Sell', 'Sharp', 78.57, 10),
 ('2020-02-02', 'Buy', 'H', 65.21, 21),
 ('2020-03-03', 'Buy', 'Sharp', 33.22, 32),
 ('2020-01-09', 'Buy', 'Rhat', 79.22, 3),
 ('2020-02-14', 'Sell', 'Rhat', 19.19, 11)]