In [4]:
#!pip install db-sqlite3

In [5]:
#!pip install pandasql

In [6]:
import pandas as pd 
import sqlite3 as sql

# creat sql

In [7]:
connection = sql.connect("alert.db")

In [20]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS logs(
alert_date DATE , 
alert_metric TEXT , 
alert_segment TEXT 
)
""")

connection.commit()
#now check DB-Browser

In [21]:
cursor.execute("""
 INSERT INTO logs(alert_date,alert_metric,alert_segment)
 VALUES          ("2021-01-02",'session','organic')
""")

connection.commit()
#now chek DB-Browser

In [22]:
log = ['2020-04-02','transection','organic']

In [24]:
cursor.execute("""
INSERT INTO logs(alert_date,alert_metric,alert_segment)
VALUES(?,?,?)""",log)
connection.commit()
#now check DB-Browser 
## there are 2 rows becuase i commited twice times

In [27]:
log_multiple = [['2022-01-01','ALERT_METRIC5','ALERT_SEGMENT5'],
['2026-06-06','AM6','AG6'],
['2027-07-07','am7','as7'],
['2028-08-08','Am8','As8']
]
cursor.executemany("""
INSERT INTO logs(alert_date,alert_metric,alert_segment)
VALUES(?,?,?)""",log_multiple)
connection.commit()
#now check DB-Browser

In [34]:
#SELECT * FROM logs  
cursor.execute("""
SELECT rowid ,alert_date,alert_metric,alert_segment
FROM logs

""")
results = cursor.fetchall()
results 
#read data from DB ?

[(1, '2021-01-02', 'session', 'organic'),
 (2, '2021-01-02', 'session', 'organic'),
 (3, '2020-04-02', 'transection', 'organic'),
 (4, '2020-04-02', 'transection', 'organic'),
 (5, '2022-01-01', 'ALERT_METRIC5', 'ALERT_SEGMENT5'),
 (6, '2026-06-06', 'AM6', 'AG6'),
 (7, '2027-07-07', 'am7', 'as7'),
 (8, '2028-08-08', 'Am8', 'As8')]

In [35]:
# SELECT * FROM logs LIMIT 1 ; 
cursor.execute("""
SELECT rowid ,alert_date,alert_metric,alert_segment
FROM logs

""")
results = cursor.fetchone()
results 
#read data from DB

(1, '2021-01-02', 'session', 'organic')

In [38]:
# SELECT * from logs LIMIT 3 ;
cursor.execute("""
SELECT rowid ,alert_date,alert_metric,alert_segment
FROM logs

""")
results = cursor.fetchmany(3) ## 
results 
#read data from DB

[(1, '2021-01-02', 'session', 'organic'),
 (2, '2021-01-02', 'session', 'organic'),
 (3, '2020-04-02', 'transection', 'organic')]

In [41]:
query  = cursor.execute("""
SELECT alert_metric,alert_segment
FROM logs
""")
columns = [column[0]for column in query.description]

In [42]:
columns

['alert_metric', 'alert_segment']

In [45]:
df=pd.DataFrame.from_records(data=query.fetchall(),columns=columns)

In [46]:
df

    alert_metric   alert_segment
0        session         organic
1        session         organic
2    transection         organic
3    transection         organic
4  ALERT_METRIC5  ALERT_SEGMENT5
5            AM6             AG6
6            am7             as7
7            Am8             As8

In [57]:
df.to_csv("alers.csv")
#check the folder

In [53]:
!ls 
# alert.csv added to this folder :)

 alers.csv	        movies.sqbpro	      students.sqbpro
 alert.db	        question4.sql	      TEST1.db
 DS_Mastery_RM.pdf      question5.sql	      test.sql
 jozve.pdf	       'sql_db .ipynb'	      جزوه+تئوری+پایگاه+داده.pdf
 movies.db	       'students - Copy.db'
 movies.db.crdownload   students.db

In [59]:
cursor.execute("""
UPDATE logs SET alert_segment= "Organic"
WHERE alert_segment ="organic"
""")
connection.commit()
# check DB-Browser to see code result :)

In [58]:
df2= pd.read_csv("alers.csv")
df2

   Unnamed: 0   alert_metric   alert_segment
0           0        session         organic
1           1        session         organic
2           2    transection         organic
3           3    transection         organic
4           4  ALERT_METRIC5  ALERT_SEGMENT5
5           5            AM6             AG6
6           6            am7             as7
7           7            Am8             As8

In [63]:
cursor.execute("""
DELETE
FROM logs 
WHERE rowID= 1 
""")
connection.commit()
# check DB-Browser to see code result :) 
# using "DELETE" for delete a row 
# using "DROP TABLE"  for delete a table 
# using "TRUNCATE TABLE " for delete all data in a Table

In [74]:
cursor.execute("""
ALTER TABLE logs 
ADD name TEXT
     
""")
connection.commit()
# check the DB-Browser to see resualt 
# using for add a col in a table

OperationalError: duplicate column name: name

In [75]:
cursor.execute("""
ALTER TABLE logs 
DROP COLUMN name 
""")
connection.commit()
# check the DB-Browser to see resualt 
# using for add a col in a table